#button{
background-color:#ff000073;
max-height:10vh;
justify-content:center; 
margin:10px
}

#button:hover{
    background-color:red;
    max-height:10vh;
    justify-content:center; 
    margin:10px
    }